body{
	margin-left: 30px;
	margin-right: 30px;
}

.navbar{
	background-color: #7d1f0c;
	padding:1px 10px 1px 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.navbar h2{
	color: white;
}
.navbar-links{
	align-content: center;
}
.navbar a{
	color: whitesmoke;
	margin-left: 5px;
	text-decoration: none;
}
.news{
	padding-left: 10px;
	padding-top: 10px;
	display: flex;

}

.news img{
	width:300px;
}
.news h3{
	padding-left: 10px;
	display: flex;
}
.news p{
	padding-left: 10px;
}
.latest-news{
	display: flex;
	justify-content: center;
}

.text{
	display: flex;
	flex-direction: column;
	align-items:center ;
	justify-content: center;
}
.late{
	display: flex;
	border: 2px solid darkgray;
	width: 320px;
    float: left;
    margin-left: 10px;


}
.late img{
	padding-bottom: 0px;
	padding-left: 0px; 
	width: 320px;
}
.late h4{
	padding-left: 10px;
}
.late p{
	padding-left: 10px;
}
.late button{
	background-color: #8f0b10;
	color: white;
	text-align: right;
}




